<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alquilar Car</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-200 flex items-center justify-center min-h-screen">
      <div class="bg-sky-600 h-[px] rounded-b-[120px] text-center pt-4">

      <!-- Judul -->
      <h1 class="text-black text-4xl font-bold">ALQUILAR</h1>
      <h2 class="text-white text-3xl font-bold">CAR</h2>

      <!-- Gambar Mobil -->
      <div class="flex justify-center mt-6">
        <img src="../aset/image-removebg-preview.png" alt="car" >
      </div>

    </div>

    <!-- Tombol -->
    <div class="mt-10 flex flex-col items-center gap-8">

      <button class="bg-sky-600 text-white w-[250px] py-3 rounded-full font-semibold">
        sign-in
      </button>

      <button class="bg-sky-600 text-white w-[250px] py-3 rounded-full font-semibold">
        sign-up
      </button>

    </div>

  </body>
</html>
