<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alquilar Car</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
 <body class="bg-white">

  <div class="max-w-md mx-auto p-8 flex flex-col items-center">
    
    <div class="self-start mb-4">
      <div class="bg-sky-500 w-10 h-10 rounded-full flex items-center justify-center cursor-pointer">
        <span class="text-white text-xl font-bold">←</span>
      </div>
    </div>

    <div class="text-center mb-8">
      <div class="text-sky-500 text-6xl mb-2"><img src="../aset/image.png" alt=""></div> 
     

    <div class="w-full space-y-4">
      
      <input type="text" 
             placeholder="Name" 
             class="w-full bg-gray-200 rounded-full px-6 py-3 outline-none">

      <input type="email" 
             placeholder="Email Address" 
             class="w-full bg-gray-200 rounded-full px-6 py-3 outline-none">

      <input type="password" 
             placeholder="Password" 
             class="w-full bg-gray-200 rounded-full px-6 py-3 outline-none">

      <input type="password" 
             placeholder="Confirm Password" 
             class="w-full bg-gray-200 rounded-full px-6 py-3 outline-none">

      <button class="w-full bg-sky-500 text-white font-bold py-3 rounded-full mt-4 shadow-md">
        Create account
      </button>

      <div class="flex items-center justify-center py-2">
        <div class="border-t border-gray-300 "></div>
        <span class="px-3 text-gray-500 italic text-sm">or</span>
        <div class="border-t border-gray-300 "></div>
      </div>

      <button class="w-full bg-gray-200 py-3 rounded-full flex items-center justify-center gap-2">
        <img src="https://www.gstatic.com/images/branding/product/1x/googleg_48dp.png" class="w-5">
        <span class="font-semibold text-sm">sign-in With google</span>
      </button>

    </div>
  </div>

</body>
</html>
